@use '../helpers' as *;

.cart-item {

  display: grid;
  grid-template-columns: rem(140) 1fr auto;
  gap: rem(24);

  align-items: center;

  padding: rem(20);

  border: rem(1) solid var(--color-gray-200);
  border-radius: rem(20);

  background-color: var(--color-light);

  @include tablet {
    grid-template-columns: rem(120) 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
  }

  &__image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;

    border-radius: rem(12);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(8);
  }

  &__title {
    @include fluid-text(24, 18);

    font-weight: 600;
  }

  &__category {
    color: var(--color-gray-500);
  }

  &__price {
    font-size: rem(24);
    font-weight: 700;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    align-items: flex-end;

    @include mobile {
      align-items: stretch;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    gap: rem(12);
  }

  &__button {
    width: rem(40);
    height: rem(40);

    border: rem(1) solid var(--color-gray-200);
    border-radius: rem(10);

    background-color: var(--color-light);
  }

  &__count {
    min-width: rem(24);
    text-align: center;
    font-weight: 600;
  }

  &__remove {
    border: none;
    background: none;

    color: var(--color-red);
    font-weight: 500;
  }
}