@use '../helpers' as *;

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  border-bottom: rem(1) solid rgba(255, 255, 255, .14);

  &__body {
    padding-block: rem(18);
    color: var(--color-light);
    background-color: var(--color-dark);
  }

  &__body-inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: rem(20);

    @include mobile {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    justify-self: start;
    color: var(--color-light);
    font-size: rem(20);
    font-weight: 800;
    letter-spacing: -.08em;
    text-decoration: none;
  }

  &__cart {
    justify-self: end;
    color: var(--color-light);
    font-size: rem(14);
    text-decoration: none;

    @include mobile {
      display: none;
    }
  }

  &__overlay {
    @include mobile {
      position: fixed;
      z-index: 50;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(24);
      color: var(--color-light);
      background-color: var(--color-dark);
      transition:
        opacity var(--transition-duration),
        visibility var(--transition-duration),
        translate var(--transition-duration);

      &:not(.is-active) {
        opacity: 0;
        visibility: hidden;
        translate: 100%;
      }

      &.is-active {
        opacity: 1;
        visibility: visible;
        translate: 0;
      }
    }
  }

  &__menu-list {
    display: flex;
    align-items: center;
    gap: rem(8);

    @include mobile {
      flex-direction: column;
      gap: rem(16);
    }
  }

  &__menu-link {
    padding: rem(8) rem(12);
    color: rgba(255, 255, 255, .62);
    font-size: rem(14);
    text-decoration: none;
    transition: color var(--transition-duration);

    @include hover {
      color: var(--color-light);
    }

    &.is-active {
      color: var(--color-light);
      pointer-events: none;

      &::after {
        content: '';
        display: block;
        width: rem(4);
        height: rem(4);
        margin: rem(4) auto 0;
        background-color: var(--color-accent);
        border-radius: 50%;
      }
    }

    @include mobile {
      font-size: clamp(2rem, 7vw, 3.5rem);
      font-weight: 700;
      line-height: 1;
    }
  }
}